h3{
    text-align: center;
    font-size: 25px;
}
h2{
    text-align: center;
    font-size: 25px;

}

.h2-malfors{
    color: #d39e00;
}
h1{
    text-align: center;
}

label{
    font-size: 20px;
}

.label-green{
    color: #28a745;
}

.head{
    font-size: 25px;
    color: black;
    text-decoration: none;
}

.head:hover{
    text-decoration: none;
    color: greenyellow;
}

.hrBold{
    border: none;
    height: 4px;
    background-color: black;
}

.moshult{

}

.error{
    color: red;
}
