h3{
    text-align: center;
    font-size: 25px;
}
h2{
    text-align: center;
    font-size: 15px;
}
h1{
    text-align: center;
}

.hrBold{
    border: none;
    height: 4px;
    background-color: black;
}

.moshult{

}

.error{
    color: red;
}
