<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <script href="../static/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/addQuiltingReport.css}"/>
    <title>Add quilting report</title>
</head>

<body>
<form th:object="${quiltingReportWrapper}" th:action="@{/addReport}" method="POST">
    <div class="container">
        <h2><a class="head" href="/">Dzienny raport pikowarek</a></h2>
        <hr class="hrBold">
        <div class="d-flex justify-content-center">


            <div class="row">
                <div class="col-auto my-1">
                    <label class="mr-sm-2" for="date">Data raportu</label>
                    <input class="form-control" type="date" id="date" th:field="*{date}">

                </div>
                <div class="col-auto my-1">
                    <label class="mr-sm-2" for="operatorSelect">Pikowacz</label>
                    <select class="custom-select mr-sm-2" id="operatorSelect" th:field="*{operatorId}">
                        <option value="0"> -- </option>
                        <option th:each="operator:${productionWorkers}"
                                th:value="${operator.id}"
                                th:utext="${operator.lastName}+' '+${operator.name}">
                        </option>
                    </select>
                    <label th:if="${#fields.hasErrors('operatorId')}" th:errors="*{operatorId}" class="error"></label>
                </div>
            </div>
        </div>
        <hr class="hrBold">
        <h3>Pikowarka nr 1</h3>
        <div class="d-flex justify-content-center">
            <div class="col-auto my-1">
                <label class="mr-sm-2" for="operatorSelect">Odbierający</label>
                <select class="custom-select mr-sm-2" id="picker1Select" th:field="*{pickerId}">
                    <option value="0"> -- </option>
                    <option th:each="picker:${productionWorkers}"
                            th:value="${picker.id}"
                            th:utext="${picker.lastName}+' '+${picker.name}">
                    </option>
                </select>
            </div>
        </div>
        <hr>
        <h2>Blaty dobre - Malfors</h2>
        <div class="d-flex justify-content-between bg-warning">
            <div class="form-control-sm mb-2">
                <label for="1"> 75 </label>
                <input type="number" id="1" th:field="*{ma75}">
            </div>
            <div class="form-control-sm">
                <label for="2"> 80 </label>
                <input type="number" id="2" th:field="*{ma80}">
            </div>
            <div class="form-control-sm">
                <label for="3"> 90 </label>
                <input type="number" id="3" th:field="*{ma90}">
            </div>
            <div class="form-control-sm">
                <label for="4"> 140 </label>
                <input type="number" id="4" th:field="*{ma140}">
            </div>
            <div class="form-control-sm">
                <label for="5"> 160 </label>
                <input type="number" id="5" th:field="*{ma160}">
            </div>
        </div>
        <hr>
        <h2>Odpady - Malfors</h2>
        <div class="d-flex justify-content-between bg-danger">
            <div class="form-control-sm mb-2">
                <label for="1o"> 75 </label>
                <input type="number" id="1o" th:field="*{ma75o}">
            </div>
            <div class="form-control-sm">
                <label for="2o"> 80 </label>
                <input type="number" id="2o" th:field="*{ma80o}">
            </div>
            <div class="form-control-sm">
                <label for="3o"> 90 </label>
                <input type="number" id="3o" th:field="*{ma90o}">
            </div>
            <div class="form-control-sm">
                <label for="4o"> 140 </label>
                <input type="number" id="4o" th:field="*{ma140o}">
            </div>
            <div class="form-control-sm">
                <label for="5o"> 160 </label>
                <input type="number" id="5o" th:field="*{ma160o}">
            </div>
        </div>
        <hr>
        <h2>Blaty dobre - Moshult</h2>
        <div class="d-flex justify-content-between bg-white">
            <div class="form-control-sm mb-2">
                <label for="6"> 75 </label>
                <input type="number" id="6" th:field="*{mo75}">
            </div>
            <div class="form-control-sm">
                <label for="7"> 80 </label>
                <input type="number" id="7" th:field="*{mo80}">
            </div>
            <div class="form-control-sm">
                <label for="8"> 90 </label>
                <input type="number" id="8" th:field="*{mo90}">
            </div>
            <div class="form-control-sm">
                <label for="9"> 140 </label>
                <input type="number" id="9" th:field="*{mo140}">
            </div>
            <div class="form-control-sm">
                <label for="10"> 160 </label>
                <input type="number" id="10" th:field="*{mo160}">
            </div>
        </div>
        <hr>
        <h2>Odpady - Moshult</h2>
        <div class="d-flex justify-content-between bg-danger">
            <div class="form-control-sm mb-2">
                <label for="6o"> 75 </label>
                <input type="number" id="6o" th:field="*{mo75o}">
            </div>
            <div class="form-control-sm">
                <label for="7o"> 80 </label>
                <input type="number" id="7o" th:field="*{mo80o}">
            </div>
            <div class="form-control-sm">
                <label for="8o"> 90 </label>
                <input type="number" id="8o" th:field="*{mo90o}">
            </div>
            <div class="form-control-sm">
                <label for="9o"> 140 </label>
                <input type="number" id="9o" th:field="*{mo140o}">
            </div>
            <div class="form-control-sm">
                <label for="10o"> 160 </label>
                <input type="number" id="10o" th:field="*{mo160o}">
            </div>
        </div>
        <hr class="hrBold">
        <h3>Pikowarka nr 2</h3>
        <div class="d-flex justify-content-center">

            <div class="col-auto my-1">
                <label class="mr-sm-2" for="operatorSelect">Odbierający</label>
                <select class="custom-select mr-sm-2" id="picker2Select" th:field="*{picker2Id}">
                    <option value="0"> --</option>
                    <option th:each="picker:${productionWorkers}"
                            th:value="${picker.id}"
                            th:utext="${picker.lastName}+' '+${picker.name}">
                    </option>
                </select>
            </div>
        </div>
        <hr>
        <h2>Blaty dobre - Malfors</h2>
        <div class="d-flex justify-content-between bg-warning">
            <div class="form-control-sm mb-2">
                <label for="1"> 75 </label>
                <input type="number" id="11" th:field="*{ma752}">
            </div>
            <div class="form-control-sm">
                <label for="2"> 80 </label>
                <input type="number" id="12" th:field="*{ma802}">
            </div>
            <div class="form-control-sm">
                <label for="3"> 90 </label>
                <input type="number" id="13" th:field="*{ma902}">
            </div>
            <div class="form-control-sm">
                <label for="4"> 140 </label>
                <input type="number" id="14" th:field="*{ma1402}">
            </div>
            <div class="form-control-sm">
                <label for="5"> 160 </label>
                <input type="number" id="15" th:field="*{ma1602}">
            </div>
        </div>
        <hr>
        <h2>Odpady - Malfors</h2>
        <div class="d-flex justify-content-between bg-danger">
            <div class="form-control-sm mb-2">
                <label for="1o"> 75 </label>
                <input type="number" id="11o" th:field="*{ma75o2}">
            </div>
            <div class="form-control-sm">
                <label for="2o"> 80 </label>
                <input type="number" id="12o" th:field="*{ma80o2}">
            </div>
            <div class="form-control-sm">
                <label for="3o"> 90 </label>
                <input type="number" id="13o" th:field="*{ma90o2}">
            </div>
            <div class="form-control-sm">
                <label for="4o"> 140 </label>
                <input type="number" id="14o" th:field="*{ma140o2}">
            </div>
            <div class="form-control-sm">
                <label for="5o"> 160 </label>
                <input type="number" id="15o" th:field="*{ma160o2}">
            </div>
        </div>
        <hr>
        <h2>Blaty dobre - Moshult</h2>
        <div class="d-flex justify-content-between bg-white">
            <div class="form-control-sm mb-2">
                <label for="6"> 75 </label>
                <input type="number" id="16" th:field="*{mo752}">
            </div>
            <div class="form-control-sm">
                <label for="7"> 80 </label>
                <input type="number" id="17" th:field="*{mo802}">
            </div>
            <div class="form-control-sm">
                <label for="8"> 90 </label>
                <input type="number" id="18" th:field="*{mo902}">
            </div>
            <div class="form-control-sm">
                <label for="9"> 140 </label>
                <input type="number" id="19" th:field="*{mo1402}">
            </div>
            <div class="form-control-sm">
                <label for="10"> 160 </label>
                <input type="number" id="20" th:field="*{mo1602}">
            </div>
        </div>
        <hr>
        <h2>Odpady - Moshult</h2>
        <div class="d-flex justify-content-between bg-danger">
            <div class="form-control-sm mb-2">
                <label for="6o"> 75 </label>
                <input type="number" id="16o" th:field="*{mo75o2}">
            </div>
            <div class="form-control-sm">
                <label for="7o"> 80 </label>
                <input type="number" id="17o" th:field="*{mo80o2}">
            </div>
            <div class="form-control-sm">
                <label for="8o"> 90 </label>
                <input type="number" id="18o" th:field="*{mo90o2}">
            </div>
            <div class="form-control-sm">
                <label for="9o"> 140 </label>
                <input type="number" id="19o" th:field="*{mo140o2}">
            </div>
            <div class="form-control-sm">
                <label for="10o"> 160 </label>
                <input type="number" id="20o" th:field="*{mo160o2}">
            </div>
        </div>

        <hr class="hrBold">
        <h3>Pikowarka nr 3</h3>
        <div class="d-flex justify-content-center">
            <div class="col-auto my-1">
                <label class="mr-sm-2" for="operatorSelect">Odbierający</label>
                <select class="custom-select mr-sm-2" id="picker3Select" th:field="*{picker3Id}">
                    <option value="0"> --</option>
                    <option th:each="picker:${productionWorkers}"
                            th:value="${picker.id}"
                            th:utext="${picker.lastName}+' '+${picker.name}">
                    </option>
                </select>
            </div>
        </div>
        <hr>
        <h2>Blaty dobre - Malfors</h2>
        <div class="d-flex justify-content-between bg-warning">
            <div class="form-control-sm mb-2">
                <label for="1"> 75 </label>
                <input type="number" id="21" th:field="*{ma753}">
            </div>
            <div class="form-control-sm">
                <label for="2"> 80 </label>
                <input type="number" id="22" th:field="*{ma803}">
            </div>
            <div class="form-control-sm">
                <label for="3"> 90 </label>
                <input type="number" id="23" th:field="*{ma903}">
            </div>
            <div class="form-control-sm">
                <label for="4"> 140 </label>
                <input type="number" id="24" th:field="*{ma1403}">
            </div>
            <div class="form-control-sm">
                <label for="5"> 160 </label>
                <input type="number" id="25" th:field="*{ma1603}">
            </div>
        </div>
        <hr>
        <h2>Odpady - Malfors</h2>
        <div class="d-flex justify-content-between bg-danger">
            <div class="form-control-sm mb-2">
                <label for="1o"> 75 </label>
                <input type="number" id="21o" th:field="*{ma75o3}">
            </div>
            <div class="form-control-sm">
                <label for="2o"> 80 </label>
                <input type="number" id="22o" th:field="*{ma80o3}">
            </div>
            <div class="form-control-sm">
                <label for="3o"> 90 </label>
                <input type="number" id="23o" th:field="*{ma90o3}">
            </div>
            <div class="form-control-sm">
                <label for="4o"> 140 </label>
                <input type="number" id="24o" th:field="*{ma140o3}">
            </div>
            <div class="form-control-sm">
                <label for="5o"> 160 </label>
                <input type="number" id="25o" th:field="*{ma160o3}">
            </div>
        </div>
        <hr>
        <h2>Blaty dobre - Moshult</h2>
        <div class="d-flex justify-content-between bg-white">
            <div class="form-control-sm mb-2">
                <label for="6"> 75 </label>
                <input type="number" id="26" th:field="*{mo753}">
            </div>
            <div class="form-control-sm">
                <label for="7"> 80 </label>
                <input type="number" id="27" th:field="*{mo803}">
            </div>
            <div class="form-control-sm">
                <label for="8"> 90 </label>
                <input type="number" id="28" th:field="*{mo903}">
            </div>
            <div class="form-control-sm">
                <label for="9"> 140 </label>
                <input type="number" id="29" th:field="*{mo1403}">
            </div>
            <div class="form-control-sm">
                <label for="10"> 160 </label>
                <input type="number" id="30" th:field="*{mo1603}">
            </div>
        </div>
        <hr>
        <h2>Odpady - Moshult</h2>
        <div class="d-flex justify-content-between bg-danger">
            <div class="form-control-sm mb-2">
                <label for="6o"> 75 </label>
                <input type="number" id="26o" th:field="*{mo75o3}">
            </div>
            <div class="form-control-sm">
                <label for="7o"> 80 </label>
                <input type="number" id="27o" th:field="*{mo80o3}">
            </div>
            <div class="form-control-sm">
                <label for="8o"> 90 </label>
                <input type="number" id="28o" th:field="*{mo90o3}">
            </div>
            <div class="form-control-sm">
                <label for="9o"> 140 </label>
                <input type="number" id="29o" th:field="*{mo140o3}">
            </div>
            <div class="form-control-sm">
                <label for="10o"> 160 </label>
                <input type="number" id="30o" th:field="*{mo160o3}">
            </div>
        </div>

        <hr class="hrBold">

        <div class="d-flex justify-content-center">
            <div class="column">
                <div class="col-auto my-1">
                    <button type="submit" class="btn btn-primary">Wyślij</button>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>