<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista pracowników</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/listProductionWorkers.css}"/>
</head>
<body>
<h2><a class="head" href="/">Lista pracowników</a></h2>
<div class="d-flex justify-content-center">

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Akcja</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="productionWorker : ${productionWorkers}">

            <td th:text="${productionWorker.name}"/>
            <td th:text="${productionWorker.lastName}"/>

            <td>
                <div class="row">
                    <div class="col-small">
                        <!-- Add "update" button/link -->
                        <form action="#" th:action="@{/showFormForUpdate}" method="POST">
                            <input type="hidden" name="productionWorkerId" th:value="${productionWorker.id}"/>
                            <button type="submit" class="btn btn-info btn-sm ml-3 mr-1">Aktualizuj</button>
                        </form>
                    </div>
                </div>
            </td>


        </tr>
        </tbody>
    </table>
</div>

</body>
</html>